@model WebApplication.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration_in_hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration_in_hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invite_By_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invite_By_Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Events")
</p>
